<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>NotasJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>401</error-code>
    <location>/general-error.jsp?error=401</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/general-error.jsp?error=403</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/general-error.jsp?error=404</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/general-error.jsp?error=500</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/general-error.jsp?error=503</location>
  </error-page>
</web-app>